#container { position: relative; width: 100%; min-width: 1200px; height: 100%; overflow: hidden; }
#header { height: 110px; position: relative; z-index: 100; }
#header .logo { position: absolute; left: 20px; top: 15px; width: 143px; height: 29px; background: url(/img/logo.png) 0 0 no-repeat; }
/*뉴스티커*/
#header .news-ticker { position: absolute; font-size: 13px; top: 24px; left: 180px; padding: 2px 10px; background-color: #f6f7fb; border-radius: 10px; width: 500px; height: 22px; overflow: hidden; }
#header .news-ticker .bx-controls-direction { position: absolute; left: 452px; top: 9px; width: 32px; height: 16px; }
#header .news-ticker .bx-prev { position: absolute; left: 0; width: 16px; height: 16px; background-image: url(/img/ico_prev.png); }
#header .news-ticker .bx-next { position: absolute; right: 0; width: 16px; height: 16px; background-image: url(/img/ico_next.png); }
#header .news-ticker .date { position: absolute; right: 40px; }
/*서브메뉴*/
#header .submenu { font-size: 11px; position: absolute; right: 20px; top: 20px; }
#header .submenu .admin { display: inline-block; margin-right: 8px; }
#header .submenu .admin span { color: #808080; }
#header .btn-cs { background: url(/img/ico_help.png) no-repeat 7px 6px; padding-left: 25px; }
/*gnb*/
#header .depth1 { position: absolute; left: 20px; top: 67px; width: 1000px; font-size: 18px; }
#header .depth1 > li { float: left; position: relative; }
#header .depth1 li { position: relative; background-color: #fff; }
#header .depth1 li a { display: block; padding-right: 40px; color: #333; text-align: left; }
#header .depth1 > li > a { background: url(/img/menu.png) 0 0 no-repeat; width: 147px; height: 30px;}
#header .depth1 > li:nth-child(1) > a { background-position: 0 0; }
#header .depth1 > li:nth-child(1) > a:hover, #header .depth1 > li.on:nth-child(1) > a {background-position: 0 -30px; }
#header .depth1 > li:nth-child(2) > a { background-position: -148px 0; }
#header .depth1 > li:nth-child(2) > a:hover, #header .depth1 > li.on:nth-child(2) > a {background-position: -148px -30px; }
#header .depth1 > li:nth-child(3) > a { background-position: -295px 0; }
#header .depth1 > li:nth-child(3) > a:hover, #header .depth1 > li.on:nth-child(3) > a {background-position: -295px -30px; }
#header .depth1 > li:nth-child(4) > a { background-position: -442px 0; }
#header .depth1 > li:nth-child(4) > a:hover, #header .depth1 > li.on:nth-child(4) > a {background-position: -442px -30px; }
#header .depth1 > li:nth-child(5) > a { background-position: -589px 0; }
#header .depth1 > li:nth-child(5) > a:hover, #header .depth1 > li.on:nth-child(5) > a {background-position: -589px -30px; }
#header .depth1 > li a:hover, #gnb .on > a { color: #1b92f0; text-decoration: none; }
#header .depth2 { position: absolute; z-index: 10; top: 20px; display: none; width: 140px; background: #fff; border: 1px solid #222; margin-top: 10px; font-size: 14px; }
#header .depth2 li a { padding: 5px 10px; }
/*body*/
#body { position: relative; z-index: 10; overflow: hidden; }
.body { width: 100%; }
.btn-tab-add { background: #fff url(/img/tab_add.png) 50% no-repeat; border: 0; position: absolute; left: 87px; top: 4px; width: 25px; height: 24px; }
/*sidebar*/
#sidebar { position: fixed; z-index: 10; /*left: -340px;*/ top: 183px; bottom: 0; width: 342px; background-color: #fff; border-right: 2px solid #000; }
#sidebar-scroll { position: absolute; top: 97px; bottom: 50px; overflow: hidden; overflow-y: auto; }
.btn-slide-toggle { position: absolute; top: 50%; margin-top: -150px; left: 339px; z-index: 100; display: inline-block; width: 28px; height: 64px; background: url(/img/btn_sidebar_on.png) 0 0 no-repeat; }
.btn-slide-toggle.active { background-image: url(/img/btn_sidebar_off.png); }
.sidebar-title { background-color: #5c6681; color: #fff; font-size: 15px; font-weight: 100; height: 50px; padding: 15px 20px 0; }
.sidebar-form-search { background-color: #f6f7fb; height: 46px; padding: 9px 20px; }
.sidebar-form-search select { width: 98px; }
.sidebar-form-search input { width: 178px; margin-left: 6px; }
#sidebar .asset-list > li { padding: 12px 20px; background-position: 20px 40px; }
.asset-list { position: relative; }
.asset-list .statu { padding-bottom: 8px; }
.asset-list .statu img { margin-right: 6px; }
.asset-list > li { background: url(/img/list_thum.png) 0 30px no-repeat; }
.asset-list > li + li { border-top: 1px solid #d3d5dc; }
.asset-list ul { margin-left: 75px; }
.asset-list ul li { background: 0 0 no-repeat; padding-left: 20px; margin-bottom: 2px; }
.asset-list ul li span { display: block; }
.asset-list .items-asset { background-image: url(/img/ico_asset.png); }
.asset-list .items-admin { background-image: url(/img/ico_admin.png); }
.asset-list .items-time { background-image: url(/img/ico_time.png); }
.asset-list .items-location { background-image: url(/img/ico_location.png); }
.asset-list .title { font-size: 12px; color: #a7a7a7; }
.asset-list .value { font-size: 13px; color: #333; }
#sidebar .btn-primary { position: absolute; bottom: 0; left: 0; width: 340px; }
/*content*/
#content { overflow: hidden; position: relative; /*top: 35px;*/ }
/*quickmenu*/
#quick { position: absolute; top: 300px; right: 0; width: 60px; border: 1px solid #000; }
#quick li + li { border-top: 1px solid #000; }
#quick a { display: block; padding: 5px; text-align: center; min-height: 50px; background-color: #fff; }