.content-header-area { position: relative; height: 38px; border-bottom: 1px solid #ddd; background-color: #f5f7fa; }
.content-header-area .location { position: absolute; left: 20px; top: 10px; background: url(/img/ico_address.png) 0 2px no-repeat; text-indent: 25px; font-size: 13px; }
.content-header-area .search-form { width: 400px; position: absolute; right: 133px; top: 4px; }
.content-header-area .search-form input { width: 100%; }
.content-header-area .search-form .btn-search { position: absolute; right: 10px; top: 0; width: 26px; height: 26px; background: url(/img/ico_search_nor.png) 50% no-repeat; }
.content-header-area .btn-group { width: 100px; position: absolute; right: 20px; top: 5px; }

#map-area { background-color: #ddd; left: 0; right: 0; top: 183px; bottom: 0; position: fixed; }
.btn-dashboard { position: absolute; top: 0; left: 50%; margin-left: -55px; z-index: 10; width: 224px; height: 44px; background: url(/img/ico_dashboard.png) 0 0 no-repeat; }
/* 지도위 그래프 */
.map-area-graph { overflow: hidden; position: absolute; left: 352px; top: 10px; width: 225px; height: 166px; border-radius: 4px; background-color: #fff; border: solid 1px #c0c3cc; }
.map-area-graph h4 { min-height: 18px; margin: 16px; background: url(/img/ico_wifi.png) 0 0 no-repeat; padding-left: 28px; }
.map-area-graph h4 strong { font-size: 20px; }
.map-area-graph .graph1, .map-area-graph .graph2 { position: absolute; top: 45px; width: 84px; }
.map-area-graph .graph1 { left: 16px; }
.map-area-graph .graph2 { right: 16px; }
.map-area-graph .graph1:before, .map-area-graph .graph2:before { content: ''; position: absolute; top: 30px; left: 8px; width: 72px; height: 72px; border: solid 1px #b3b3b3; border-radius: 50%; }
.map-area-graph canvas { top: 24px; position: absolute; }
.map-area-graph .legend { top: 0; left: 28px; position: absolute; }
.map-area-graph .counter { top: 52px; left: 36px; position: absolute; }